<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="integer-found" value="999"/>
    <add key="decimal-found" value="1.09"/>
    <add key="string-found" value="bar"/>
    <add key="double-found" value="1.09"/>
    <add key="double-array-found" value ="1.99, 1.89"/>
    <add key="string-array-found" value="spam,spam,spam,spam,spam,baked beans,spam"/>
  </appSettings>
</configuration>